div Index
    div Popular feeds:
        a(href="",ng-repeat="feed in popular",
            ng-bind="feed.title",ng-click="AddFeed(feed.link)")
    input(ng-model="feedSearch")
    button(ng-click="AddFeed(feedSearch)",
        ng-disabled="!feedSearch") Add feed
    div(ng-repeat="feed in feeds")
        h3
            a(target="_blank",
                ng-href="{{feed.link}}",
                ng-bind="feed.title")
            &nbsp;
            a(href="",ng-click="feeds.splice($index,1)") &times;
        div(ng-repeat="item in feed.items")
            h4(ng-bind="item.title")
            p(ng-bind-html-unsafe="item.summary")
