doctype html
html(ng-app="feedblocks")
  head
    title Feedblocks
    base(href="/")
    link(rel="stylesheet",href="css/layout.css")
    link(rel="stylesheet",href="css/main.css")
  body
    h1#title Feed
      span blocks
    div#view(ng-view)
    script(src="js/libs/jquery.js")
    script(src="js/libs/angular.js")
    script(src="js/libs/angular-resource.js")
    script(src="js/feedblocks.js")
    script(src="js/main.js")
