$color = #000
$bg-color = #FFF
$title-color = #CCC
$link-color = #6AD
$remove-color = #F22
$error-color = #F22
$border-color = #BBB

fade(color, amount)
  rgba(red(color), green(color), blue(color), alpha(color) * amount)

default-font()
  font-size inherit
  font-family Open Sans, sans-serif

link(color)
  color color
  cursor pointer
  &:hover
    color darken(@color, 25%)
  &.disabled, &:disabled
    cursor default
    color lighten(@color, 50%)
